<%= form_for [current_user, @photo], :url => user_photos_path,:html => {:multipart => true} do |f| %>
  <%= f.file_field :photo %>
  <select name="photo[tagged]" id="photo_tagged">
    <option selected="selected" disabled="disabled">Choose person to tag</option>
    <% @users.each do |user| %>
      <option value="user"><%= user.email %></option>
    <% end %>
  </select>
  <%= f.submit "Load Photo" %>
<% end %>
